html, body {
	font: 14px Verdana, Helvetica, sans-serif;
	background: #ffd;
}

table {border: 2px solid black;}
a img {border: none;}

/* TABELE AKCJI */
.width {width: 100%;}
.width span, #book span {
	font-size: 80%;
	padding-left: 10px;
}
table.main {
	border: 0;
	border-spacing: 10px;
}
.main td {
	vertical-align: top;
	border: 2px solid black;
	padding: 5px 10px;
	margin: 10px;
}

/* STYLE MENU */
#menu {	padding: 0px;
	text-align: center;
	background: #dda;
}
#menu li {
	margin: 0px 2px;
	padding: 0px;
	display: inline;
	list-style: inside none;
}
#menu a {
	background: #fd6;
	padding: 3px 15px;
	margin: 0px;
	text-decoration: none;
	color: #000;
}
#menu a:hover {
	background: #fea;
	text-decoration: underline;
}

/* Brakujące etykiety */
table.no td {
	border: 1px solid black;
	padding: 0px 10px;
}
.or {
	display: block;
	padding: 5px 0px;
}
.or * {
	vertical-align: middle;
	display: inline-block;
	width: 30%;
}
.width td {	vertical-align: top;
	padding: 5px;}
td p:first-child, td h3:first-child {margin-top: 0;}
td p:last-child {margin-bottom: 3px;}
.width tr td:first-child {padding:0;}
/* BEZ ZAWIJANIA WIERSZY */
.n {	white-space: nowrap;}
/* KOLORY PRZY WYSZUKIWANIU (książki wycofane, wypożyczone itp.) */
.wyc {	background: #ddd;}
.poz {	background: #fdd;}
.norm {	background: #dfd;}

/* TEKSTY POCHYLONE */
i {	font-size: 75%;}

/* POJEDYNCZA KSIĄŻKA */
#book {	border: 2px solid black;
	padding: 5px;
	display: inline-block;
}
#book h4, #book h5, #book p {margin: 2px;}
#book p {margin-top: 0.5em;}
#bhist {margin: 0.5em; float:right;}
#book a {
	float: left;
	margin: 10px;
	margin-left: 0px;
}
fieldset {margin: 0.5em auto;}

@media print {
	* {color: black; background: white;}
	h1, ul, .footer, img {display: none;}
	a {text-decoration: none;}
	form {margin:0; padding:0;}
	input[type=submit] {display: none;}
	#bhist {float:none; margin-left:0;}
	/* OKŁADKI */
	.width td {padding: 1mm;}
	.width tr td:first-child, .width tr th:first-child {display: none;}
	/* OPCJE */
	.width tr th:last-child, .width tr td:last-child {display: none;}
}
